@import '~@angular/material/theming';
@import '../../../assets/theme.scss'; //TODO paths

@mixin card-dimensions($width, $hoverEffect: true) {
  width: $width;
  height: $width * 1.6;
  border-style: solid;
  border-radius: $width * 0.08;
  padding: $width * 0.17;
  font-size: $width * 0.16;
  font-weight: 600;
  line-height: $width * 0.17;

  $thin-border: $width * 0.01;
  $thick-border: $thin-border * 3;
  $margin: $width * 0.11;

  margin: $margin;
  border-width: $thin-border;

  @if $hoverEffect == true {
    &.selectable:hover,
    &.selected {
      margin: $margin - $thick-border + $thin-border;
      border: $thick-border solid mat-color($accent);
      &.selectable {
        cursor: pointer;
      }
    }
  }
}

.white-card {
  @include card-dimensions(150px);
  background-color: white;
  border-color: black;
  color: black;
}

.black-card {
  @include card-dimensions(150px);
  background-color: black;
  border-color: white;
  color: white;
}

.blank-slot {
  @include card-dimensions(150px, false);
  background-color: mat-color($primary, lighter);
  border-color: mat-color($primary);
}
