<div class="join-form">
  <h2>Join a game</h2>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="e.g. George" [(ngModel)]="name" />
  </mat-form-field>
  <mat-form-field *ngIf="!urlContainsRoomCode" appearance="outline">
    <mat-label>Room Code</mat-label>
    <input matInput placeholder="e.g. YEET" [(ngModel)]="roomCode" />
  </mat-form-field>
  <button mat-button color="accent" (click)="joinGame()">Connect</button>
  <div *ngIf="!urlContainsRoomCode">Or</div>
  <button
    mat-button
    color="primary"
    (click)="createGame()"
    *ngIf="!urlContainsRoomCode"
  >
    Create Room
  </button>
</div>
