<h1 mat-dialog-title>The Rules</h1>
<mat-dialog-content>
  <h2>The Setup:</h2>
  <p>
    Separate the white-backed cards (characters) and the black-backed cards
    (attributes). Youngest player goes first. Player one starts by drawing three
    white cards and three black cards. You can look at them, but don’t let
    anyone else see them. Player two (the next player to the left) does the
    same. Each player chooses one white card and one black card from their hand
    to create a fighter and places those cards face down. Then they discard
    their remaining cards into two separate piles (one for characters, one for
    attributes). Next, both players turn over their cards and reveal their
    fighters. Each player then draws a random black card from the deck and adds
    it to their fighter.
  </p>
  <h2>The Superfight:</h2>
  <p>
    Both players argue and plead their cases about why their fighters would win
    the fight. Once the arguing is done, the table votes for a winner. In the
    event of a tie, both players draw a random white card and fight to the death
    with no attributes. The table votes again. Do this until there is a winner,
    then discard the white cards from the tiebreaker fights. The winning fighter
    stays on the table for the nextplayer to fight and will not get any new
    attributes in the next fight. player who won the fight earns one point.
  </p>
  <h2>The Next Match:</h2>
  <p>
    Player three (the next player to the left) now creates a fighter to battle
    the winner from the last match, following the same rules for fighter
    creation as in The Setup. Then the Superfight begins again.
  </p>
  <h2>Finally:</h2>
  <p>
    Unlike other judge-based games, this is not anonymous. If a player is being
    biased, for whatever dumb reason, never play with that person again. They
    are lame, and should go play charades with their cats until they learn how
    to play with people. Imagine the fighters are fighting on an island or
    anywhere you want, but New York is a good default.
  </p>
</mat-dialog-content>
