<div class="banner-message">
  {{ bannerMessage }}
</div>
<div class="fighter-area">
  <spf-card-group
    [cards]="uiState.gameState.phase.playerA.selectedFighter"
    [locked]="true"
    [ngClass]="{ votable: votable, 'current-vote': currentVote === 'A' }"
    (click)="setVote('A')"
  ></spf-card-group>
</div>
<div class="vs-line">VS</div>
<div class="fighter-area">
  <spf-card-group
    [cards]="uiState.gameState.phase.playerB.selectedFighter"
    [locked]="true"
    [ngClass]="{ votable: votable, 'current-vote': currentVote === 'B' }"
    (click)="setVote('B')"
  ></spf-card-group>
</div>
<div class="button-area">
  <button
    *ngIf="isLeader && uiState.gameState.phase.phaseName === DEBATING"
    mat-raised-button
    color="accent"
    (click)="startVoting()"
  >
    Start Voting
  </button>
  <button *ngIf="votable" mat-raised-button color="accent" (click)="castVote()">
    Cast Vote
  </button>
</div>
