<mat-toolbar color="primary">
  <div>SUPERFIGHT</div>
  <div class="toolbar-section">
    <div *ngIf="uiState.roomName && uiState.gameState" class="room-name">
      <button
        *ngIf="uiState.roomName && uiState.gameState"
        mat-icon-button
        [cdkCopyToClipboard]="getRoomLink()"
        matTooltip="Get Invitation Link"
      >
        <mat-icon>link</mat-icon>
      </button>
      ROOM CODE: {{ uiState.roomName | uppercase }}
    </div>
    <button mat-icon-button (click)="openRules()" matTooltip="Rules">
      <mat-icon>info</mat-icon>
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
