mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.toolbar-section {
  display: flex;
  align-items: center;
  .room-name {
    display: flex;
    align-items: center;
    margin-right: 48px;
  }
}
