/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();
@import 'assets/theme.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  user-select: none;
  @include angular-material-theme($superfight);
}

.banner-message {
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: black;
  background-color: mat-color($primary, 400);
  &.small {
    font-size: 24px;
    line-height: 32px;
  }
}

.vs-line {
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: mat-color($primary);
}
