mat-sidenav-container {
  width: 100%;
  height: calc(100% - 64px);
  display: flex;
  align-items: stretch;
}

mat-sidenav {
  height: 100%;
}

.sidebar-content {
  height: calc(100% - 16px);
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: space-between;

  .sidebar-top-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    text-align: center;
    .player-list-title {
      margin-top: 20px;
      padding-top: 10px;
      border-top: 1px solid black;
    }
  }
}

mat-sidenav-content {
  display: flex;
  flex: 1;
}

.mat-list-item-content {
  display: flex;
  justify-content: center;
}

.json-container {
  white-space: pre;
}
