<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div class="sidebar-content">
      <div class="sidebar-top-content">
        <button
          *ngIf="uiState.isLeader"
          (click)="newGame()"
          mat-button
          color="accent"
        >
          New Game
        </button>
        <div class="player-list-title">Players</div>
        <mat-list>
          <mat-list-item *ngFor="let player of uiState.playerList">
            <span
              class="player-list-name"
              [class.highlighted]="player.id === uiState.id"
              >{{ player.name }}</span
            ><span *ngIf="player.isLeader">&nbsp;(Leader)</span>
          </mat-list-item>
        </mat-list>
      </div>
      <button
        mat-button
        color="warn"
        (click)="leaveGame()"
        class="danger-button"
      >
        Leave
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <ng-container
        *ngIf="uiState.gameState"
        [ngSwitch]="uiState.gameState.phase.phaseName"
      >
        <ng-container *ngSwitchCase="'SELECTING'">
          <spf-selecting-board
            *ngIf="uiState.isPlaying && uiState.privateState"
            class="board"
            [whiteOptions]="uiState.privateState.whiteOptions"
            [blackOptions]="uiState.privateState.blackOptions"
            (selection)="selectFighter($event)"
          ></spf-selecting-board>
          <div class="right-panel">
            <div class="matchup-header">
              <div class="matchup-header-row">{{ uiState?.playerA?.name }}</div>
              <strong class="matchup-header-vs">VS</strong>
              <div class="matchup-header-row">{{ uiState?.playerB?.name }}</div>
            </div>
            <div class="right-panel-info">
              {{
                uiState.isPlaying
                  ? 'SELECT YOUR FIGHTER'
                  : 'WAITING FOR PLAYERS TO SELECT THEIR FIGHTERS'
              }}
            </div>
            <div class="bottom-spacer"></div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'DEBATE'">
          <spf-debate-board
            class="board"
            [fighterA]="uiState.gameState.phase.playerA.selectedFighter"
            [fighterB]="uiState.gameState.phase.playerB.selectedFighter"
            [votable]="false"
          ></spf-debate-board>
          <div class="right-panel">
            <div>DEBATE</div>
            <button
              mat-raised-button
              color="accent"
              *ngIf="uiState.isLeader"
              (click)="startVoting()"
            >
              Vote Now
            </button>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'VOTING'">
          <spf-debate-board
            class="board"
            [fighterA]="uiState.gameState.phase.playerA.selectedFighter"
            [fighterB]="uiState.gameState.phase.playerB.selectedFighter"
            [votable]="!uiState.isPlaying"
          ></spf-debate-board>
          <div class="right-panel">
            <div>VOTE NOW</div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
